.place__title {
  max-width: 457px;
  margin: 0;
  padding-top: 72px;
  font-size: 72px;
  line-height: 65px;
  font-weight: 900;
  grid-area: title;
}

@media screen and (max-width: 1217px) {
  .place__title {
    padding-top: 82px;
  }
}

@media screen and (max-width: 1012px) {
  .place__title {
    padding-top: 81px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 677px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 48px 0 32px 16px;
    width: 90%;
  }
}
