.footer__content-link {
  text-decoration: none;
  display: block;
  color: white;
  max-width: 160px;
  min-width: 74px;
  height: 23px;
  font-size: 24px;
  line-height: 41px;
  font-weight: normal;
  -webkit-transition: opacity .5s linear; /* Для Chrome, Android Browser */
  transition: opacity .5s linear;
  }

  .footer__content-link:hover {
  opacity: .4;
  }

@media screen and (max-width: 1012px) {
  .footer__content-link {
    max-width: 106px;
    min-width: 50px;
    height: 28px;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (max-width: 677px) {
  .footer__content-link {
    display: block;
    font-size: 24px;
    line-height: 41px;
  }
}
