.lead__caption {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 80px;
}

@media screen and (max-width: 1012px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 677px) {
  .lead__caption {
    padding-bottom: 64px;
  }
}
