.cover__title {
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 244px;
}

@media screen and (max-width: 1217px) {
  .cover__title {
    padding-top: 181px;
    max-width: 65%;
  }
}

@media screen and (max-width: 1012px) {
  .cover__title {
    padding-top: 141px;
  }
}

@media screen and (max-width: 677px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 80px;
    max-width: 45%;
  }
}

@media screen and (max-width: 420px) {
  .cover__title {
    max-width: 65%;
  }
}

@media screen and (max-width: 374px) {
  .cover__title {
    padding-top: 44px;
    max-width: 65%;
  }
}
