.footer__content-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 160px 0 48px 0;
}

@media screen and (max-width: 1012px) {
  .footer__content-info {
    padding: 102px 0 24px 0;
  }
}

@media screen and (max-width: 677px) {
  .footer__content-info {
    display: block;
    padding: 64px 0 24px 0;
  }
}
