@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);

.content {
  margin: 0 auto;
}

.max-width {
  max-width: 1184px;
  margin: 0 auto;
}

.min-width {
  max-width: 984px;
  margin: 0 auto;
}

.intro__article {
  max-width: 683px;
  margin: 0;
}

.intro__title {
  font-size: 54px;
  line-height: 59px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 48px;
}

.intro__description {
  margin: 0;
  font-size: 	14px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 24px;
}

.intro__lists {
  margin: 0;
  padding: 0;
}

.intro__list {
  list-style-type: none;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.intro__list_type_bold {
  font-weight: 900;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 15px;
  overflow: hidden;
  padding: 102px 0 20px 0;
  justify-items: center;
}

.photo-grid_element {
  height: 188px;
  width: 100%;
  object-fit: cover;
}

.place {
  display: grid;
  grid-template-areas:
  "title website"
  "picture paragraph-container";
  column-gap: 40px;
  row-gap: 60px;
}

.place__title {
  max-width: 457px;
  margin: 0;
  padding-top: 72px;
  font-size: 72px;
  line-height: 65px;
  font-weight: 900;
  grid-area: title;
}

.place__website {
  margin: 0;
  align-self: end;
  grid-area: website;
}

.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: normal;
}

.place__url {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;

  -webkit-transition: opacity .5s linear; /* Для Chrome, Android Browser */
  transition: opacity .5s linear;
}

.place__url:hover {
  opacity: .4;
}


.place__pic {
  width: 460px;
  grid-area: picture;
}

.place__paragraph-container {
  max-width: 484px;
  grid-area: paragraph-container;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-bottom: 36px;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

.video {
  padding-top: 102px;
}

.content-title {
  max-width: 800px;
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

.content-subtitle {
  max-width: 640px;
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  padding: 48px 0 72px 0;
}

.video__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(583px, 1fr));
  grid-gap: 18px;
  padding-bottom: 102px;
  justify-items: center;
}

.video__item {
  max-width: 583px;
  height: 323px;
  overflow: hidden;
  position: relative;
}

.video__item:last-of-type {
  padding-right: 0;
}

.content-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.content-link {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.video__icon {
  padding-top: 30px;
  padding-left: 30px;
}

.video__duration {
  font-weight: 500;
  font-size: 	12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 0;
  padding-top: 94px;
  padding-left: 30px;
}

.video__title {
  max-width: 322px;
  font-weight: 900;
  font-size: 	36px;
  line-height: 39px;
  margin: 0;
  padding-top: 12px;
  padding-left: 30px;
}

.video__subtitle {
  font-weight: normal;
  font-size: 	14px;
  line-height: 	15px;
  margin: 0;
  padding-top: 18px;
  padding-left: 30px;
}

.content-background {
  background-color: #000;
  border-radius: 5px;
  background-size: 100%;
  height: 100%;
}


.video__background_pic {
  width: 583px;
  object-fit: cover;
  border-radius: 5px;
}

.content-overlay:hover + .content-background {
  opacity: .5;
  -webkit-transition: opacity .5s linear; /* Для Chrome, Android Browser */
  transition: opacity .5s linear;
}

.comments__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  overflow: hidden;
  justify-items: center;
}

.comment__container {
  max-width: 382px;
}

.comment__autor_image {
  width: 97px;
  border-radius: 50%;
}

.comment__quote {
  font-weight: normal;
  font-size: 	14px;
  line-height: 24px;
  margin: 0;
  padding: 48px 0 24px 0;
}

.comment__autor {
  font-weight: 900;
  font-size: 	14px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 102px;
}

.cover {
  height: 594px;
  overflow: hidden;
  position: relative;
}

.cover__title {
  font-size: 72px;
  line-height: 78px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 274px;
}

.cover__subtitle {
  max-width: 382px;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  padding-top: 138px;
}

.cover__background_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__content_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 160px 0 48px 0;
}

.footer__content-links {
  width: 664px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.footer__list {
  list-style-type: none;
}

.footer__content-link {
  text-decoration: none;
  display: block;
  color: white;
  max-width: 160px;
  min-width: 74px;
  height: 23px;
  font-size: 24px;
  line-height: 41px;
  font-weight: normal;
  -webkit-transition: opacity .5s linear; /* Для Chrome, Android Browser */
  transition: opacity .5s linear;
  }

  .footer__content-link:hover {
  opacity: .4;
  }

.footer__author {
  font-size: 	14px;
  line-height: 20px;
  font-weight: normal;
}

@media screen and (max-width: 1220px)
and (min-width: 1024px) {
  .max-width, .min-width {
    max-width: 928px;
  }

  .place__pic {
    width: 440px;
  }

  .video__container {
    grid-template-columns: repeat(auto-fit, minmax(456px, 1fr));
    grid-gap: 16px;

  }

  .video__item {
    max-width: 456px;
    height: 288px;
  }

  .video__background_pic {
    width: 456px;
    height: 288px;
  }

  .video__duration {
    padding-top: 54px;
  }

  .comments__container {
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    grid-gap: 18px;
  }

  .comment__container {
    max-width: 296px;
  }

  .comment__quote {
    padding: 42px 0 17px 0;
  }

  .cover {
    height: 562px;
  }

  .cover__title {
    max-width: 900;
    padding-top: 211px;
  }

  .cover__subtitle {
    padding-top: 81px;
  }
}
