.content__width_max {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1217px) {
    .content__width_max {
    max-width: calc(100% - 48px - 48px);
  }
}

@media screen and (max-width: 1012px) {
  .content__width_max {
  max-width: calc(100% - 24px - 24px);
  }
}

@media screen and (max-width: 677px) {
  .content__width_max {
    max-width: calc(100% - 16px - 16px);
  }
}
