.content__width_max {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1217px) {
    .content__width_max {
    max-width: 96%;
  }
}

@media screen and (max-width: 677px) {
  .content__width_max {
    max-width: 93%;
  }
}
